.sidebar {
  width: 400px;
  height: 100vh;
  background-color: #181828;
  padding: 2rem;
}

h1 {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.list-item {
  color: #fff;
  padding-bottom: 1.2rem;
}

.sub-list {
  border: 2px solid red;
}

.list {
  list-style: none;
}

.sidebar-img {
  height: 85px;
  width: 150px;
}

.btnList {
  padding: 15px;
  margin: 0 auto;
}
.btnNewSub {
  padding: 15px;
  margin: 0 auto;
}

.buttons {
  height: 500px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
