<div class="subscription-form">

    <h1>New subscription form</h1>
    <form action="">
        <span>Callback URL</span>
        <input type="text">
        <span>Event type</span>
        <input type="checkbox">
        <input type="checkbox">
        <span>Transport event type code</span>
        <input type="checkbox">
        <input type="checkbox">
        <span>Schedule ID</span>
        <input type="text">
        <span>Transport Call ID</span>
        <input type="text">
        <span>Vessel IMON number</span>
        <input type="text">
        <span>Carrier Voyage number</span>
        <input type="text">
        <span>Carrier Service code</span>
        <input type="text">
        <span>Operatiions type event code</span>
        <input type="checkbox">
        <input type="checkbox">
    </form>
</div>