<div class="subscription-form">

    <h1>New subscription form</h1>
    <form action="">
        <input type="text" required placeholder="Callback URL">
        <p>Event type</p>
        <input class="check" type="checkbox" checked>
        <input class="check" type="checkbox" checked>
        <p>Transport event type code</p>
        <input type="checkbox" checked>
        <input type="checkbox" checked>
        <input type="text" required placeholder="Transport Call ID">
        <input type="text" required placeholder="Vessel IMO number">
        <input type="text" required placeholder="Carrier Voyage number">
        <input type="text" required placeholder="Carrier Service code">
        <p>Operations type event code</p>

        <ng-multiselect-dropdown [placeholder]="'Choose operations'" [settings]="dropdownSettings" [data]="dropdownList"
            [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
            [ngModelOptions]="{standalone: true}">
        </ng-multiselect-dropdown>



        <div class="">
            <button type="submit" class="btn btnAdd">Submit subscription</button>
        </div>
    </form>
</div>