* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: #009093;
  border-radius: 15px;
  padding: 8px;
  color: #fff;
  border-style: none;
  border: 1px solid #fff;
}
.btn:hover {
  cursor: pointer;
  transform: scale(0.98);
}

.multiselect-dropdown .dropdown-btn {
  color: #fff;
  font-size: 17px;
}

.multiselect-dropdown .dropdown-btn .selected-item a {
  color: #000 !important;
}

.multiselect-dropdown .dropdown-btn {
  border: 1px solid ivory !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret::before {
  border-color: #fff transparent !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  background-color: #009093 !important;
  border: #009093 !important;
}
